FBR Tax RAG Agent.json
{
  "name": "FBR Tax RAG Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "={{ $json.body.query }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "session_id",
              "value": "={{ $json.body.session_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2cb26d0f-5806-4f93-b18e-f657e27f2be2",
      "name": "Extract Message Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_history",
        "limit": 20,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        }
      },
      "id": "24ca30c5-8500-41df-83ed-2c8f8469d5d4",
      "name": "Get Chat History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -992,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8wYx6TOMpsKJgmDC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "chat_history",
              "value": "={{ $json.chat_history && $json.chat_history.length > 0 ? $json.chat_history.map(h => h.role + ': ' + h.message).join('\\n') : '' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c24c33c-8bf8-4b98-9710-2175bd32730e",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat History:\n{{ $json.chat_history }}\n\nUser Question: {{ $json.message }}",
        "options": {
          "systemMessage": "You are a Tax Research Assistant.\n\nYou MUST always use the retrieve_tax_documents tool to answer user questions.\n\nWhen the tool returns documents:\n\nTreat the retrieved content as authoritative.\n\nExtract the relevant information directly from it.\n\nAnswer clearly using the retrieved text.\n\nDo NOT say \"no official document found\" unless the tool returns an empty array.\n\nDo NOT rely on your general knowledge.\n\nIf information is partially found, answer with what is available.\n\nIf retrieved documents contain relevant content, you MUST answer from them.\n\nOnly say:\n\"No official documents found in knowledge base.\"\n\nIF AND ONLY IF the tool result is completely empty.\n\nDo not refuse.\nDo not generalize.\nDo not hallucinate."
        }
      },
      "id": "ad47def6-7214-4c22-8e24-dfab3f0ef76f",
      "name": "Tax RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieves relevant Pakistan tax information from the uploaded PDF document",
        "tableName": {
          "__rl": true,
          "value": "match_tax_documents",
          "mode": "id"
        },
        "topK": 5,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "id": "38112501-b260-4200-8044-338871bf3eef",
      "name": "Retrieve Tax Documents Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -48,
        256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8wYx6TOMpsKJgmDC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"text\": $('Prepare Response').item.json.text } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "e1f245b8-9634-428e-8ec0-676b2eb84fff",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        528
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a5d8daf-f9ac-4499-b521-d80bc6871fcb",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "eb380650-131d-483f-8f9f-61d97438458f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "19783742-9f8d-4c0f-8d4a-23613c23366a",
              "name": "mime_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68538cb8-c956-477d-a946-f16313800855",
      "name": "Set File Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        1152
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "tax_documents",
        "filters": {
          "conditions": [
            {
              "keyName": "metadata->>source",
              "condition": "eq",
              "keyValue": "={{ $('Set File Metadata').item.json.file_name }}"
            }
          ]
        }
      },
      "id": "fff2e292-666a-44bf-a7d7-62e4bfef33fb",
      "name": "Delete Old Tax Vectors",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1296,
        1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8wYx6TOMpsKJgmDC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set File Metadata').item.json.file_id }}"
        },
        "options": {}
      },
      "id": "9c0b8fa3-3306-4831-8292-7d86a35374a4",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1072,
        1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euzzLiPefVBmYfB2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "tax_documents"
        },
        "options": {}
      },
      "id": "fe8706a6-dad1-47f0-9b00-2939671f4e73",
      "name": "Insert Tax Vectors",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -144,
        1056
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8wYx6TOMpsKJgmDC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "d34c5469-965a-4852-ad91-7e43fd6b71f3",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -48,
        1280
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "3b0582a3-426c-4d63-b065-db5170f41619",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        32,
        1488
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lovable-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4d333095-9970-4501-adcd-dbf02a84b27d",
      "name": "Lovable Frontend Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1232,
        -192
      ],
      "webhookId": "7136f964-152e-43f8-9936-8cc256848db3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "709a3760-d0ea-499d-98e4-9992b62c1f5d",
      "name": "OpenAI Embeddings - Retrieval",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        464
      ],
      "credentials": {
        "openAiApi": {
          "id": "GcQl6uFAgJ3IXMyl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1bb312ca-4f66-4395-8aff-765081f0c4f1",
      "name": "OpenAI Embeddings - Ingestion",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        1280
      ],
      "credentials": {
        "openAiApi": {
          "id": "GcQl6uFAgJ3IXMyl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "6e0bc24a-e1e9-464c-b840-4926bebf0cfe",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "GcQl6uFAgJ3IXMyl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ Object.keys($binary).length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2a68cf7-a7c2-4224-af71-9b9c4a3aec13",
      "name": "Check Binary Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -848,
        1152
      ]
    },
    {
      "parameters": {
        "errorMessage": "Failed to download file from Google Drive. No binary data found."
      },
      "id": "c439d8bc-1133-41f1-961e-c9bc2f7dc52c",
      "name": "Stop - No Binary Data",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -624,
        1248
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "metadata",
              "value": "={{ { source: $('Set File Metadata').item.json.file_name, type: 'tax_document', uploaded_at: new Date().toISOString() } }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "33ad18fd-6494-4086-a211-a7e0e88bfaf8",
      "name": "Add Document Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        1056
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Check Knowledge Base').all().length > 0 }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dceac754-7fa7-4f02-b367-8cb57df248c8",
      "name": "Has Documents?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -272,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "No tax documents found in knowledge base. Please upload a PDF first.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1be446e6-6c9f-4622-9a44-520922fa00bd",
      "name": "No Documents Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        624
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tax_documents",
        "limit": 1
      },
      "id": "53ff45b9-caee-4585-a4d0-21190e318e05",
      "name": "Check Knowledge Base",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        608
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8wYx6TOMpsKJgmDC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1YVuWlkbcohDqjo-Pe4tK7K18COczl4sN",
          "mode": "list",
          "cachedResultName": "budget_in_brief.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1YVuWlkbcohDqjo-Pe4tK7K18COczl4sN/view?usp=drivesdk"
        }
      },
      "id": "ca6a1f92-34d1-4f0a-933d-b14f70da3ec5",
      "name": "Google Drive File Upload",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1744,
        1152
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "euzzLiPefVBmYfB2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f7e0ff8d-2990-4607-8fd6-75bfd34367b1",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -624,
        1056
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0c5effe4-22cd-44b5-8742-63a777ca41d5",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "session_id",
              "value": "={{ $json.session_id ?? $execution.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5fb2f707-07ac-4fbd-bf47-15c0c854edb9",
      "name": "Prepare User Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6db05c10-b8fe-4176-9e0e-d189ea1bb194",
      "name": "Prepare AI Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        240
      ]
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.session_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "id": "5bc4d375-db9c-46c9-a26f-a116594be4fe",
      "name": "Store User Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        48
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8wYx6TOMpsKJgmDC",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.session_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a3dc221d-ee35-4803-81a0-a51873b62032",
      "name": "Store AI Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8wYx6TOMpsKJgmDC",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "40fbfdf8-2160-4815-936a-85ae0cd72d57",
      "name": "Preserve Message Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -560,
        80
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "chat_history",
        "options": {}
      },
      "id": "5ffd4880-6a08-43f8-a571-39402fb5a738",
      "name": "Collect Chat History",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -784,
        80
      ]
    }
  ],
  "pinData": {
    "Lovable Frontend Webhook": [
      {
        "json": {
          "headers": {
            "host": "taxragagentt.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "content-length": "116",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "223.123.8.166",
            "cf-ew-via": "15",
            "cf-ipcountry": "PK",
            "cf-ray": "9d006b32e174f908-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://6b6b9320-49a9-4f5f-9281-861421561725.lovableproject.com",
            "priority": "u=1, i",
            "referer": "https://6b6b9320-49a9-4f5f-9281-861421561725.lovableproject.com/",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "223.123.8.166, 172.68.164.160",
            "x-forwarded-host": "taxragagentt.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-123-7c9cdbd89b-2w4b8",
            "x-is-trusted": "yes",
            "x-real-ip": "223.123.8.166"
          },
          "params": {},
          "query": {},
          "body": {
            "query": "tell me about budget 2025-2026",
            "session_id": "2c12995c-c553-44f5-8652-068941b20b45",
            "user_id": "anonymous"
          },
          "webhookUrl": "https://taxragagentt.app.n8n.cloud/webhook/lovable-chat",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Extract Message Fields": {
      "main": [
        [
          {
            "node": "Check Knowledge Base",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preserve Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Collect Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Tax RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Tax Documents Tool": {
      "ai_tool": [
        [
          {
            "node": "Tax RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tax RAG AI Agent": {
      "main": [
        [
          {
            "node": "Prepare User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Metadata": {
      "main": [
        [
          {
            "node": "Delete Old Tax Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Tax Vectors": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Check Binary Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Tax Vectors",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Lovable Frontend Webhook": {
      "main": [
        [
          {
            "node": "Extract Message Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings - Retrieval": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve Tax Documents Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings - Ingestion": {
      "ai_embedding": [
        [
          {
            "node": "Insert Tax Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tax RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Binary Exists": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - No Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Document Metadata": {
      "main": [
        [
          {
            "node": "Insert Tax Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Knowledge Base": {
      "main": [
        [
          {
            "node": "Has Documents?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Documents?": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Documents Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Documents Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Upload": {
      "main": [
        [
          {
            "node": "Set File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Add Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Message": {
      "main": [
        [
          {
            "node": "Store User Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare AI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Message": {
      "main": [
        []
      ]
    },
    "Prepare AI Message": {
      "main": [
        [
          {
            "node": "Store AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Response": {
      "main": [
        []
      ]
    },
    "Preserve Message Data": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Chat History": {
      "main": [
        [
          {
            "node": "Preserve Message Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "492c421b-4b6b-48eb-b206-cab6dbeff30e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "862f0183c3186f5c084537d9034b693d8002c2947cf8cd0d82e6823f80654a19"
  },
  "id": "lLJz4witoUd8QbE3",
  "tags": []
}